@import "./style/base/module";

.field-icon-redress {
  &.mat-form-field-should-float .mat-form-field-prefix,
  &.mat-form-field-should-float .mat-form-field-suffix {
    top: 0 !important;
  }
  &.mat-form-field-hide-placeholder .mat-form-field-prefix,
  &.mat-form-field-hide-placeholder .mat-form-field-suffix {
    top: 0px !important;
  }

  .mat-form-field-prefix {
    margin-right: 0.5em;
  }
  .mat-form-field-suffix {
    margin-left: 0.5em;
  }
}
